<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="getPermissions()">Get Permissions</button>
  <button ion-button full (click)="startListening()">Listen</button>
  <button ion-button full (click)="stopListening()" *ngIf="isIOS()">Stop Listening</button>
  <ion-card>
    <ion-card-header>This is what I understand</ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let match of matches">
              {{match}}
              <button ion-button full (click)="speakUp(match)">Speak</button>
            </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
